
services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=qa_service
      
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
  
  migrations:
    build:
      context: .
      dockerfile: Dockerfile.goose
    container_name: qa_service_goose
    depends_on:
      - db
    environment:
      GOOSE_DBSTRING: "host=db user=postgres password=password dbname=qa_service port=5432 sslmode=disable"
  
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: qa_service
    depends_on:
      - db

volumes:
  db: